[user]
  name = HackingGate
  email = i@hackinggate.com
  signingkey = BF057FBFDDC66FA896170383E761498A3AF9BF2B
[core]
  excludesfile = ~/.gitignore
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[credential]
  helper = osxkeychain
[alias]
  st = status
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  amend = commit --amend
  d = diff
  dc = diff --cached
  l = log --graph --abbrev-commit
[pull]
  rebase = true
[submodule]
  recurse = true
